@use "../utils/abstracts" as *;

.booking-hero {
	@include block-padding($break: rem(128));
	&__container {
		display: grid;
		grid-template-columns: auto 1fr 1fr;
		grid-template-areas:
			"title title title"
			"media media media"
			"button subtitle subtitle";
		gap: rem(32) rem(0);
		@include content-width();
	}
	&__title,
	&__subtitle {
		text-transform: uppercase;
		font-size: lineScale(96, 30, 480, 1440);
		line-height: 1;
		color: $c-FFFFFF;
		font-weight: $fw-bold;
		text-wrap: balance;
	}
	&__title {
		grid-area: title;
	}
	&__subtitle {
		grid-area: subtitle;
		text-align: right;
	}
	&__media-container {
		grid-area: media;
		width: 100%;
		height: rem(220);
		overflow: hidden;
		filter: brightness(60%);
		@include flex-center();
	}
	&__video,
    &__image {
		width: 100%;
		height: auto;
	}
	&__button {
		grid-area: button;
		position: relative;
		.button {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: -2rem;
            color: $c-FFFFFF;
		}
	}
}
@media (max-width: 768px) {
	.booking-hero {
		&__container {
			grid-template-areas:
				"title title title"
				"media media media"
				"subtitle subtitle subtitle"
                "button . .";
		}
        &__button {
            .button {
                position: static;
            }
        }
	}
}
