@use "../utils/abstracts" as *;

.button-connection {
	cursor: pointer;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: -3.5rem;
    translate: 0 -50%;
    border: rem(1) solid $c-C6A47D;
    border-bottom: none;
    padding: rem(4) rem(16);
    rotate: -90deg;
    transition: all $duration;
    @media (pointer: fine){
        &:hover{
            color: $c-FFFFFF;
            background-color: $c-C6A47D;
        }
    }
	&__text {
		text-wrap: nowrap;
        font-size: lineScale(16,14,480,1440);
        line-height: 1;
        font-weight: $fw-bold;
	}
}
