@use "../utils/abstracts" as *;

.floor {
	min-height: 100lvh;
	display: grid;
	grid-template-columns: auto 60%;
	&__wrap {
		@include flex-center();
		&.js-filtering-item:not(.active) {
			display: none;
		}
	}
	&__container {
		position: relative;
	}
	&__layersbox {
		position: relative;
	}
	&__layer-container {
		position: absolute;
		left: 50%;
		translate: -50% -50%;
		width: 100%;
		height: fit-content;
		pointer-events: none;
		&:nth-child(n + 1) {
			top: 50%;
			z-index: 4;
		}
		&:nth-child(n + 2) {
			top: calc(50% + rem(64));
			z-index: 3;
		}
		&:nth-child(n + 3) {
			top: calc(50% + rem(128));
			z-index: 2;
		}
		&:nth-child(n + 4) {
			top: calc(50% + rem(190));
			z-index: 1;
		}
	}
	&__layer {
		cursor: pointer;
		position: relative;
		z-index: 1;
		width: 15vw;
		height: 15vw;
		max-width: rem(220);
		max-height: rem(220);
		aspect-ratio: 1/1;
		background-color: $main-color;
		border: rem(4) solid rgba($c-C6A47D, 0.5);
		border-radius: rem(8) rem(16) rem(8) rem(16);
		transform: perspective(1600px) rotateX(65deg) rotateZ(45deg);
		transition: all calc($duration / 2);
		pointer-events: all;
		@media (pointer: fine) {
			&:hover {
				border-color: rgba($c-C6A47D, 1);
				& ~ .floor__layer-tooltip {
					translate: 0 -50%;
					opacity: 1;
				}
			}
		}
		&.active {
			border-color: rgba($c-C6A47D, 1);
			& ~ .floor__layer-tooltip {
				translate: 0 -50%;
				opacity: 1;
			}
		}
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			inset: -1%;
			border: inherit;
			border-top-color: transparent;
			border-left-color: transparent;
			border-radius: inherit;
			translate: rem(16) rem(16);
		}
		&--helipad {
			pointer-events: none;
			@include flex-center();
			> span {
				font-size: rem(128);
				font-weight: $fw-bold;
			}
		}
		&-tooltip {
			position: absolute;
			top: 50%;
			right: 10%;
			//left: rem(350);
			translate: -50% -50%;
			min-width: rem(96);
			color: $c-FFFFFF;
			line-height: 1;
			background-color: $c-C6A47D;
			padding: rem(6) rem(12);
			opacity: 0;
			transition: all $duration;
			@include flex-center();
			&::before,
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 50%;
				translate: 0 -50%;
				background-color: inherit;
			}
			&::before {
				right: 0;
				width: rem(150);
				height: rem(1);
			}
			&::after {
				right: rem(150);
				width: rem(4);
				height: rem(4);
				border-radius: 50%;
			}
		}
	}
	&__plan {
		position: relative;
		width: 45vw;
		height: 45vw;
		max-width: rem(750);
		max-height: rem(750);
		min-width: rem(530);
		min-height: rem(530);
		&-hint {
			position: absolute;
			display: flex;
			align-items: center;
			gap: rem(8);
			font-size: lineScale(14, 12, 480, 1440);
			pointer-events: none;
			&-marker {
				position: relative;
				width: rem(8);
				height: rem(8);
				aspect-ratio: 1/1;
				background-color: $c-C6A47D;
				border-radius: 50%;
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: rem(6);
					height: rem(1);
					background-color: inherit;
				}
				&::before {
					top: -0.3rem;
					left: 0.125rem;
					rotate: -25deg;
				}
				&::after {
					top: -0.225rem;
					right: -0.225rem;
					rotate: 65deg;
				}
			}
			&--in {
				&#floor-plan-hint-1 {
					bottom: 10%;
					left: 20%;
				}
				&#floor-plan-hint-2 {
					top: 60%;
					right: 20%;
					> .floor__plan-hint-marker {
						rotate: 180deg;
					}
				}
				&#floor-plan-hint-helipad {
					bottom: 10%;
					left: 20%;
					> .floor__plan-hint-marker {
						rotate: 180deg;
					}
				}
			}
			&--out {
				&#floor-plan-hint-1 {
					top: 40%;
					right: 35%;
				}
				&#floor-plan-hint-2 {
					bottom: 30%;
					left: 25%;
					> .floor__plan-hint-marker {
						rotate: 220deg;
					}
				}
				&#floor-plan-hint-helipad {
					top: 0;
					right: 0;
				}
			}
		}
	}
	&__overlay {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__marker {
		cursor: pointer;
		fill: rgba($c-FFFFFF, 0.2);
		stroke: none;
		pointer-events: all;
		&.active {
			fill: rgba($c-C6A47D, 0.6);
		}
		@media (pointer: fine) {
			&:hover {
				fill: rgba($c-C6A47D, 0.6);
			}
		}
	}
	&__image-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__tooltip {
		position: absolute;
		z-index: 2;
		translate: -100% 0;
		width: rem(32);
		height: rem(32);
		aspect-ratio: 1/1;
		color: $c-FFFFFF;
		font-size: rem(16);
		font-weight: $fw-bold;
		background-color: $c-C6A47D;
		opacity: 0;
		transition: opacity $duration;
		pointer-events: none;
		@include flex-center();
		&#floor-helipad-tooltip {
			aspect-ratio: auto;
			width: max-content;
			height: fit-content;
			font-weight: initial;
			padding: rem(8) rem(16);
			background-color: $main-color;
			&::before {
				width: rem(8);
				height: rem(8);
				aspect-ratio: 1/1;
				left: -0.25rem;
				rotate: 45deg;
				background-color: inherit;
			}
			&::after {
				display: none;
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			translate: 0 -50%;
			background-color: inherit;
		}
		&::before {
			right: 0;
			width: rem(96);
			height: rem(1);
		}
		&::after {
			right: rem(96);
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
		}
		&.show {
			opacity: 1;
		}
	}
	&__info {
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		padding: rem(32);
		translate: 0 -50%;
		opacity: 0;
		backdrop-filter: blur(5px);
		border: rem(2) solid rgba($c-7E9CC0, 0.25);
		transition: all $duration $spring;
		&.show {
			translate: 0 0;
			opacity: 1;
		}
		&-item {
			text-wrap: nowrap;
			color: $c-FFFFFF;
			&-label {
				text-transform: uppercase;
				font-size: lineScale(14, 12, 480, 1440);
			}
			&-number {
				font-size: lineScale(24, 18, 480, 1440);
				font-weight: $fw-bold;
			}
		}
	}
}
@media (max-width: 768px) {
	.floor {
		display: none;
	}
}
