@use "../utils/abstracts" as *;

.footer {
	position: relative;
	z-index: 4;
	background-color: $main-color;
	transition: translate $duration;
	&::before {
		content: "";
		position: absolute;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background: linear-gradient(to top, rgba($main-color, 1), rgba($main-color, 0));
		pointer-events: none;
	}
	&__container {
		padding: 0 rem(32);
	}
	&__head {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
		padding: rem(64) 0;
		overflow: hidden;
	}
	&__logo {
		width: fit-content;
		&-image-container {
			max-width: rem(564);
			max-height: rem(64);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__desc {
		display: flex;
		flex-direction: column;
		gap: rem(8);
		text-transform: uppercase;
		font-size: lineScale(32, 14, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr auto;
		grid-template-areas:
			"map infrastructure contacts socials"
			"map infrastructure address socials"
			"legal legal legal button";
		gap: rem(32) rem(64);
		border: rem(1) solid rgba($c-7E9CC0, 0.25);
		padding: rem(32);
		padding-top: rem(64);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&--map {
			grid-area: map;
		}
		&--infrastructure {
			grid-area: infrastructure;
		}
		&--contacts {
			grid-area: contacts;
		}
		&--address {
			grid-area: address;
		}
		&-item {
			display: block;
			width: fit-content;
			font-size: lineScale(20, 16, 480, 1440);
			line-height: 1;
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
				}
			}
			&--title {
				cursor: default;
				text-transform: uppercase;
				font-size: lineScale(14, 12, 480, 1440);
				line-height: 1;
				font-weight: $fw-bold;
				opacity: 0.5;
			}
			&--number,
			&--mail {
				width: fit-content;
				font-size: lineScale(40, 24, 480, 1440);
				line-height: 1;
				text-wrap: nowrap;
				font-weight: $fw-bold;
				transition: color calc($duration / 3);
				@media (pointer: fine) {
					&:hover {
						color: $c-FFFFFF;
					}
				}
			}
			&--mail {
				font-size: lineScale(20, 16, 480, 1440);
			}
			&--address {
				font-size: lineScale(20, 16, 480, 1440);
				font-weight: $fw-bold;
			}
			&--time {
				font-size: lineScale(14, 12, 480, 1440);
				font-weight: $fw-bold;
				opacity: 0.8;
				&--accent {
					color: $c-FFFFFF;
				}
			}
		}
	}
	&__socials {
		grid-area: socials;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(16);
		&-item {
			width: rem(40);
			height: rem(40);
			aspect-ratio: 1/1;
			border: rem(1) solid $c-C6A47D;
			border-radius: 50%;
			@include flex-center();
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					border-color: $main-color;
				}
				&--vk {
					@include vk-hover();
				}
				&--insta {
					@include insta-hover();
				}
				&--tg {
					@include tg-hover();
				}
			}
		}
	}
	&__button-container {
		grid-area: button;
		position: relative;
	}
	&__button {
		position: absolute;
		bottom: 0;
		right: 0;
		width: rem(114);
		height: rem(114);
		aspect-ratio: 1/1;
		@include flex-center();
		@include icon-hover(vertical-reverse);
		&--icon {
			rotate: -45deg;
			font-size: rem(32);
			padding-top: rem(8);
			padding-right: rem(8);
		}
		&-overlay-container {
			position: absolute;
			inset: 0;
			pointer-events: none;
		}
		&-overlay {
			width: 100%;
			height: 100%;
			object-fit: contain;
			animation: overlay-loop 20s linear infinite;
		}
		@keyframes overlay-loop {
			from {
				rotate: 0;
			}
			to {
				rotate: -360deg;
			}
		}
	}
	&__legal {
		grid-area: legal;
		text-transform: uppercase;
		color: $c-7E9CC0;
		font-size: rem(14);
		font-weight: $fw-bold;
		&-privacy {
			cursor: pointer;
			width: fit-content;
			opacity: 0.2;
			transition: all calc($duration / 3);
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					opacity: 1;
				}
			}
		}
		&-info {
			opacity: 0.2;
		}
	}
	&__label {
		padding: rem(24) 0;
		&-container {
			width: fit-content;
			display: flex;
			align-items: end;
			gap: rem(8);
		}
		&-image-container {
			width: rem(100);
			height: rem(16);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-desc {
			color: #585a66;
			font-size: rem(12);
			line-height: 1;
		}
	}
}
@media (max-width: 1024px) {
	.footer {
		&__body {
			grid-template-columns: repeat(3, auto);
			grid-template-areas:
				"map infrastructure socials"
				"map infrastructure socials"
				"contacts address socials"
				"legal legal button";
			gap: rem(64) rem(16);
		}
	}
}
@media (max-width: 612px) {
	.footer {
		&__body {
			grid-template-columns: repeat(2, auto);
			grid-template-areas:
				"infrastructure map"
				"infrastructure map"
				"contacts socials"
				"address socials"
				"button button"
				"legal legal";
			gap: rem(64) rem(16);
			border: none;
			padding: 0;
		}
	}
}
