@use "../utils/abstracts" as *;

.map {
	position: relative;
	&__container {
		z-index: 1;
		width: 100%;
		height: 90lvh;
		min-height: calc(rem(600) + (rem(96) * 2));
		outline: none !important;
		.leaflet-tile-pane {
			filter: saturate(0%) invert(95%);
		}
		.leaflet-top.leaflet-right {
			position: absolute;
			top: 50%;
			right: 2rem;
			translate: 0 -50%;
			.leaflet-control-zoom.leaflet-bar.leaflet-control {
				display: flex;
				flex-direction: column;
				gap: rem(8);
				margin: 0;
				.leaflet-control-zoom-in,
				.leaflet-control-zoom-out {
					width: rem(60);
					height: rem(60);
					font-size: rem(32);
					color: $c-FFFFFF;
					background-color: $main-color;
					border: none;
					transition: all $duration;
					@include flex-center();
					@media (pointer: fine) {
						&:hover {
							color: $main-color;
							background-color: $c-C6A47D;
						}
					}
				}
			}
		}
	}
	&__point {
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(16);
		text-wrap: nowrap;
		pointer-events: none;
		&--main {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-wrap: wrap;
			translate: -50% -60%;
		}
		&-icon-container {
			width: rem(48) !important;
			height: auto;
			@include flex-center();
			&--main {
				width: auto;
				margin-bottom: rem(32);
			}
		}
		&-icon {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}
		&-spacer--main {
			width: rem(64);
			height: rem(56);
			background-color: $c-C6A47D;
			clip-path: polygon(50% 100%, 0 0, 100% 0);
		}
		&-label {
			font-size: rem(12);
			font-weight: $fw-black;
			&--main {
				position: relative;
				text-transform: uppercase;
				font-size: rem(32);
				line-height: 1;
				font-weight: $fw-bold;
				padding-right: rem(480);
				&::first-line {
					font-size: rem(16);
				}
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 50%;
					height: rem(1);
					background-color: $c-C6A47D;
					translate: 0 -2rem;
				}
			}
		}
	}
	&__info {
		position: absolute;
		z-index: 2;
		top: rem(96);
		bottom: rem(96);
		left: rem(128);
		max-width: rem(473);
		height: rem(600);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $c-FFFFFF;
		border: rem(1) solid $c-C6A47D;
		backdrop-filter: blur(10px);
		&-content {
			display: flex;
			flex-direction: column;
			//justify-content: space-between;
            gap: rem(64);
			padding: rem(64);
		}
		&-item {
			&-content {
                display: flex;
                flex-direction: column;
                gap: rem(32);
				max-height: 0;
				overflow: hidden;
				transition: max-height $duration;
			}
			&.active {
				.map__info-item-content {
					max-height: rem(260);
				}
			}
			&-title {
				cursor: pointer;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				font-size: lineScale(32, 24, 480, 1440);
				line-height: 1;
				&--icon {
					font-size: rem(18);
					line-height: 1;
					font-weight: $fw-bold;
					margin-top: rem(8);
				}
			}
			&-point {
                display: flex;
                flex-direction: column;
                gap: rem(16);
				&-title {
					text-transform: uppercase;
					font-size: lineScale(18, 16, 480, 1440);
					line-height: 1;
					font-weight: $fw-bold;
				}
				&-text {
					font-size: lineScale(14, 12, 480, 1440);
					opacity: 0.5;
				}
			}
		}
		&-button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem(8);
			padding: rem(18) rem(36);

			background-color: $c-C6A47D;
		}
	}
}
