@use "../utils/abstracts" as *;

.sider {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding: rem(32);
	pointer-events: none;
	&__label-container {
		position: relative;
		grid-row: 2;
		width: 100%;
		height: 100%;
	}
	&__label {
		position: absolute;
		//inset: 0;
		text-transform: uppercase;
		writing-mode: sideways-lr;
		text-orientation: mixed;
		font-size: rem(32);
		font-weight: $fw-bold;
		text-wrap: nowrap;
		&--stroke {
			color: transparent;
			-webkit-text-stroke: rem(1) $c-C6A47D;
			text-stroke: rem(1) $c-C6A47D;
		}
		&--fill {
			color: $c-C6A47D;
			-webkit-text-stroke: 0;
			text-stroke: 0;

			mask-image: linear-gradient(to bottom, black var(--fill-height, 0%), transparent var(--fill-height, 0%));
			-webkit-mask-image: linear-gradient(to bottom, black var(--fill-height, 0%), transparent var(--fill-height, 0%));
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			mask-size: 100% 100%;
			-webkit-mask-size: 100% 100%;
			mask-composite: intersect;
			-webkit-mask-composite: destination-in;
			transition: all $duration $spring;
		}
	}
	&__icon-container {
		grid-row: 3;
		align-content: flex-end;
	}
	&__icon {
		position: relative;
		width: rem(24);
		height: rem(36);
		border-radius: rem(16);
		border: rem(1.5) solid $c-C6A47D;
		animation: mouseWheel 4s ease-in-out infinite;
		&::before {
			content: "";
			position: absolute;
			top: rem(9);
			left: 50%;
			translate: -50% 0;
			height: rem(6);
			width: rem(1.5);
			background-color: $c-C6A47D;
		}
		@keyframes mouseWheel {
			0% {
				translate: 0 -30%;
			}
			50% {
				translate: 0 0;
			}
			100% {
				translate: 0 -30%;
			}
		}
	}
}
