// Colors
$c-0B0133: #0B0133;
$c-4E5659: #4E5659;
$c-0C2850: #0C2850;
$c-7E9CC0: #7E9CC0;
$c-1A1C20: #1A1C20;
$c-C6A47D: #C6A47D;
$c-C2C0C1: #C2C0C1;
$c-F6F8F7: #F6F8F7;
$c-FFFFFF: #FFFFFF;
$c-000000: #000000;

$main-color: $c-1A1C20;
$accent-color: $c-C6A47D;

// Other
$duration: 0.8s;
$spring: cubic-bezier(0.36, 1.5, 0.64, 1);

$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$border-radius: 2rem;