<div id="modal-office-select" class="modal-select">
	<div class="modal-select__container">
		<div class="modal-select__slider-container">
			<div class="modal-select__toolbar">
				<div class="modal-select__toolbar-buttonbox">
					<button class="modal-select__toolbar-button modal-select__toolbar-button--close" data-modal-office-close>
						<i class="modal-select__toolbar-button-icon modal-select__toolbar-button--close-icon icon-arrow"></i>
						<span>Назад</span>
					</button>
					<a class="modal-select__toolbar-button modal-select__toolbar-button--link" href="office-selection.html">
						<span>Списком</span>
						<i class="modal-select__toolbar-button-icon modal-select__toolbar-button--link-icon icon-arrow"></i>
					</a>
				</div>
				<div class="modal-select__toolbar-nav">
					<div class="modal-select__toolbar-navbutton modal-select__toolbar-navbutton--prev swiper-button-prev"><i class="modal-select__toolbar-navbutton-icon icon-arrow"></i></div>
					<ul class="modal-select__toolbar-current">
						<li class="modal-select__toolbar-current-number">-</li>
						<li class="modal-select__toolbar-current-desc">Этаж</li>
					</ul>
					<div class="modal-select__toolbar-navbutton modal-select__toolbar-navbutton--next swiper-button-next"><i class="modal-select__toolbar-navbutton-icon icon-arrow"></i></div>
				</div>
			</div>
			<div class="modal-select__slider swiper">
				<div class="modal-select__slider-wrapper swiper-wrapper">
					<div class="modal-select__slide swiper-slide" data-office-floor="9">
						<div class="modal-select__plan">
							<div class="modal-select__plan-container">
								<div class="modal-select__plan-body">
									<picture class="modal-select__plan-image-container">
										<img class="modal-select__plan-image" src="assets/img/service/floor-diagrams/b1-f7_9-p1.png" alt="Здание BURNY City" />
									</picture>

									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--in">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Залив</span>
									</div>
									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--out">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Город</span>
									</div>

									<div class="modal-select__plan-overlay">
										<svg id="modal-select-office-floor-9-marker" viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
											<path class="modal-select__plan-marker" data-floor="99" transform="translate(-70, -140)" data-modal="office-21" d="M 235 47 L 356 325 L 189 399 L 71 131 Q 74 3 184 7 Q 208 7 226 28 z"></path>

											<path class="modal-select__plan-marker" data-floor="91" transform="translate(-130, -205)" data-modal="office-21" d="M 923 953 L 1409 1094 L 1357 1263 L 874 1124 z"></path>

											<path class="modal-select__plan-marker" data-floor="93" transform="translate(-100, -165)" data-modal="office-21" d="M 613 352 L 673 486 L 717 594 L 661 616 L 613 510 L 507 556 L 447 420 z"></path>
										</svg>
										<div id="modal-select-office-floor-9-tooltip" class="modal-select__plan-tooltip"></div>
									</div>
								</div>

								<div id="modal-select-office-floor-9-info" class="modal-select__plan-info">
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">№ офиса</li>
										<li id="modal-select-office-floor-9-floor" class="modal-select__plan-info-item-number">—</li>
									</ul>
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">Площадь, м²</li>
										<li id="modal-select-office-floor-9-area" class="modal-select__plan-info-item-number">—</li>
									</ul>
								</div>
							</div>
						</div>

						<picture class="modal-select__city-container">
							<img class="modal-select__city" src="./assets/img/backgrounds/city.png" alt="#" />
						</picture>
						<picture class="modal-select__ocean-container">
							<img class="modal-select__ocean" src="./assets/img/backgrounds/ocean.png" alt="#" />
						</picture>
						<div class="modal-select__overview">
							<picture class="modal-select__overview-image-container">
								<img class="modal-select__overview-image" src="assets/img/service/building-plan.jpg" alt="Здание BURNY City" />
							</picture>
							<div class="modal-select__overview-overlay">
								<svg viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
									<path class="modal-select__overview-marker" transform="translate(3, -85)" data-modal-select-open d="M448 443L448 443L455 441L472 440L629 428L719 421L726 419L817 390L824 389L844 388L977 378L990 378L1006 381L1006 415L991 412L977 413L844 417L824 420L817 421L713 452L629 459L471 469L455 471L448 474L448 443 z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="modal-select__slide swiper-slide" data-office-floor="8">
						<div class="modal-select__plan">
							<div class="modal-select__plan-container">
								<div class="modal-select__plan-body">
									<picture class="modal-select__plan-image-container">
										<img class="modal-select__plan-image" src="assets/img/service/floor-diagrams/b1-f7_9-p1.png" alt="Здание BURNY City" />
									</picture>

									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--in">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Залив</span>
									</div>
									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--out">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Город</span>
									</div>

									<div class="modal-select__plan-overlay">
										<svg id="modal-select-office-floor-8-marker" viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
											<path class="modal-select__plan-marker" data-floor="72" transform="translate(-70, -140)" data-modal="office-21" d="M 235 47 L 356 325 L 189 399 L 71 131 Q 74 3 184 7 Q 208 7 226 28 z"></path>

											<path class="modal-select__plan-marker" data-floor="73" transform="translate(-130, -205)" data-modal="office-21" d="M 923 953 L 1409 1094 L 1357 1263 L 874 1124 z"></path>

											<path class="modal-select__plan-marker" data-floor="74" transform="translate(-100, -165)" data-modal="office-21" d="M 613 352 L 673 486 L 717 594 L 661 616 L 613 510 L 507 556 L 447 420 z"></path>
										</svg>
										<div id="modal-select-office-floor-8-tooltip" class="modal-select__plan-tooltip"></div>
									</div>
								</div>

								<div id="modal-select-office-floor-8-info" class="modal-select__plan-info">
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">№ офиса</li>
										<li id="modal-select-office-floor-8-floor" class="modal-select__plan-info-item-number">—</li>
									</ul>
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">Площадь, м²</li>
										<li id="modal-select-office-floor-8-area" class="modal-select__plan-info-item-number">—</li>
									</ul>
								</div>
							</div>
						</div>

						<picture class="modal-select__city-container">
							<img class="modal-select__city" src="./assets/img/backgrounds/city.png" alt="#" />
						</picture>
						<picture class="modal-select__ocean-container">
							<img class="modal-select__ocean" src="./assets/img/backgrounds/ocean.png" alt="#" />
						</picture>
						<div class="modal-select__overview">
							<picture class="modal-select__overview-image-container">
								<img class="modal-select__overview-image" src="assets/img/service/building-plan.jpg" alt="Здание BURNY City" />
							</picture>
							<div class="modal-select__overview-overlay">
								<svg viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
									<path class="modal-select__overview-marker" transform="translate(3, -65)" data-modal-select-open d="M448 443L448 443L455 441L472 440L629 428L719 421L726 419L817 390L824 389L844 388L977 378L990 378L1006 381L1006 415L991 412L977 413L844 417L824 420L817 421L713 452L629 459L471 469L455 471L448 474L448 443 z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="modal-select__slide swiper-slide" data-office-floor="7">
						<div class="modal-select__plan">
							<div class="modal-select__plan-container">
								<div class="modal-select__plan-body">
									<picture class="modal-select__plan-image-container">
										<img class="modal-select__plan-image" src="assets/img/service/floor-diagrams/b1-f3-p1.png" alt="Здание BURNY City" />
									</picture>

									<div id="modal-select-plan-hint-7" class="modal-select__plan-hint modal-select__plan-hint--in">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Залив</span>
									</div>
									<div id="modal-select-plan-hint-7" class="modal-select__plan-hint modal-select__plan-hint--out">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Город</span>
									</div>

									<div class="modal-select__plan-overlay">
										<svg id="modal-select-office-floor-7-marker" viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
											<path class="modal-select__plan-marker" data-floor="64" transform="translate(10, -240)" data-modal="office-21" d="M 415 17 L 919 158 L 784 611 L 283 461 z"></path>

											<path class="modal-select__plan-marker" data-floor="63" transform="translate(30, -240)" data-modal="office-21" d="M 1083 208 Q 1375 293 1320 771 L 952 660 z"></path>

											<path class="modal-select__plan-marker" data-floor="67" transform="translate(30, -210)" data-modal="office-21" d="M 1320 931 Q 1375 1545 935 1388 L 577 1279 L 742 742 z"></path>
										</svg>
										<div id="modal-select-office-floor-7-tooltip" class="modal-select__plan-tooltip"></div>
									</div>
								</div>

								<div id="modal-select-office-floor-7-info" class="modal-select__plan-info">
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">№ офиса</li>
										<li id="modal-select-office-floor-7-floor" class="modal-select__plan-info-item-number">—</li>
									</ul>
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">Площадь, м²</li>
										<li id="modal-select-office-floor-7-area" class="modal-select__plan-info-item-number">—</li>
									</ul>
								</div>
							</div>
						</div>

						<picture class="modal-select__city-container">
							<img class="modal-select__city" src="./assets/img/backgrounds/city.png" alt="#" />
						</picture>
						<picture class="modal-select__ocean-container">
							<img class="modal-select__ocean" src="./assets/img/backgrounds/ocean.png" alt="#" />
						</picture>
						<div class="modal-select__overview">
							<picture class="modal-select__overview-image-container">
								<img class="modal-select__overview-image" src="assets/img/service/building-plan.jpg" alt="Здание BURNY City" />
							</picture>
							<div class="modal-select__overview-overlay">
								<svg viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
									<path class="modal-select__overview-marker" transform="translate(3, -25)" data-modal-select-open d="M448 443L448 443L455 441L472 440L629 428L719 421L726 419L817 390L824 389L844 388L977 378L990 378L1006 381L1006 415L991 412L977 413L844 417L824 420L817 421L713 452L629 459L471 469L455 471L448 474L448 443 z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="modal-select__slide swiper-slide" data-office-floor="3">
						<div class="modal-select__plan">
							<div class="modal-select__plan-container">
								<div class="modal-select__plan-body">
									<picture class="modal-select__plan-image-container">
										<img class="modal-select__plan-image" src="assets/img/service/floor-diagrams/b1-f7_9-p1.png" alt="Здание BURNY City" />
									</picture>

									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--in">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Залив</span>
									</div>
									<div id="modal-select-plan-hint-3" class="modal-select__plan-hint modal-select__plan-hint--out">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Город</span>
									</div>

									<div class="modal-select__plan-overlay">
										<svg id="modal-select-office-floor-3-marker" viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
											<path class="modal-select__plan-marker" data-floor="21" transform="translate(-70, -140)" data-modal="office-21" d="M 235 47 L 356 325 L 189 399 L 71 131 Q 74 3 184 7 Q 208 7 226 28 z"></path>

											<path class="modal-select__plan-marker" data-floor="23" transform="translate(-130, -205)" data-modal="office-21" d="M 923 953 L 1409 1094 L 1357 1263 L 874 1124 z"></path>

											<path class="modal-select__plan-marker" data-floor="22" transform="translate(-100, -165)" data-modal="office-21" d="M 613 352 L 673 486 L 717 594 L 661 616 L 613 510 L 507 556 L 447 420 z"></path>
										</svg>
										<div id="modal-select-office-floor-3-tooltip" class="modal-select__plan-tooltip"></div>
									</div>
								</div>

								<div id="modal-select-office-floor-3-info" class="modal-select__plan-info">
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">№ офиса</li>
										<li id="modal-select-office-floor-3-floor" class="modal-select__plan-info-item-number">—</li>
									</ul>
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">Площадь, м²</li>
										<li id="modal-select-office-floor-3-area" class="modal-select__plan-info-item-number">—</li>
									</ul>
								</div>
							</div>
						</div>

						<picture class="modal-select__city-container">
							<img class="modal-select__city" src="./assets/img/backgrounds/city.png" alt="#" />
						</picture>
						<picture class="modal-select__ocean-container">
							<img class="modal-select__ocean" src="./assets/img/backgrounds/ocean.png" alt="#" />
						</picture>
						<div class="modal-select__overview">
							<picture class="modal-select__overview-image-container">
								<img class="modal-select__overview-image" src="assets/img/service/building-plan.jpg" alt="Здание BURNY City" />
							</picture>
							<div class="modal-select__overview-overlay">
								<svg viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
									<path class="modal-select__overview-marker" transform="translate(3, -15)" data-modal-select-open d="M448 443L448 443L455 441L472 440L629 428L719 421L726 419L817 390L824 389L844 388L977 378L990 378L1006 381L1006 415L991 412L977 413L844 417L824 420L817 421L713 452L629 459L471 469L455 471L448 474L448 443 z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="modal-select__slide swiper-slide" data-office-floor="2">
						<div class="modal-select__plan">
							<div class="modal-select__plan-container">
								<div class="modal-select__plan-body">
									<picture class="modal-select__plan-image-container">
										<img class="modal-select__plan-image" src="assets/img/service/floor-diagrams/b1-f2-p6.png" alt="Здание BURNY City" />
									</picture>

									<div id="modal-select-plan-hint-2" class="modal-select__plan-hint modal-select__plan-hint--in">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Залив</span>
									</div>
									<div id="modal-select-plan-hint-2" class="modal-select__plan-hint modal-select__plan-hint--out">
										<div class="modal-select__plan-hint-marker"></div>
										<span>Город</span>
									</div>

									<div class="modal-select__plan-overlay">
										<svg id="modal-select-office-floor-2-marker" viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
											<path class="modal-select__plan-marker" data-floor="7" transform="translate(-140, -240)" data-modal="office-21" d="M 999 202 L 870 269 L 952 470 L 481 677 L 312 282 L 923 14 z"></path>

											<path class="modal-select__plan-marker" data-floor="12" transform="translate(-140, -243)" data-modal="office-21" d="M 1296 1244 L 829 1450 L 669 1077 L 736 1046 L 723 1018 L 659 1046 L 487 679 L 954 476 L 1121 843 L 1024 886 L 1035 911 L 1128 871 z"></path>
										</svg>
										<div id="modal-select-office-floor-2-tooltip" class="modal-select__plan-tooltip"></div>
									</div>
								</div>

								<div id="modal-select-office-floor-2-info" class="modal-select__plan-info">
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">№ офиса</li>
										<li id="modal-select-office-floor-2-floor" class="modal-select__plan-info-item-number">—</li>
									</ul>
									<ul class="modal-select__plan-info-item">
										<li class="modal-select__plan-info-item-label">Площадь, м²</li>
										<li id="modal-select-office-floor-2-area" class="modal-select__plan-info-item-number">—</li>
									</ul>
								</div>
							</div>
						</div>

						<picture class="modal-select__city-container">
							<img class="modal-select__city" src="./assets/img/backgrounds/city.png" alt="#" />
						</picture>
						<picture class="modal-select__ocean-container">
							<img class="modal-select__ocean" src="./assets/img/backgrounds/ocean.png" alt="#" />
						</picture>
						<div class="modal-select__overview">
							<picture class="modal-select__overview-image-container">
								<img class="modal-select__overview-image" src="assets/img/service/building-plan.jpg" alt="Здание BURNY City" />
							</picture>
							<div class="modal-select__overview-overlay">
								<svg viewBox="0 0 1470 980" preserveAspectRatio="xMidYMid meet">
									<path class="modal-select__overview-marker" transform="translate(-50, -170)" data-modal-select-open d="M499 675L499 675L722 670L818 673L852 670L858 669L878 668L1016 668L1028 668L1034 669L1034 710L878 710L858 710L852 710L818 710L727 712L499 715L499 675 z"></path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
