<dialog id="modal-subscribe" class="modal-form hide-scrollbar">
	@@include('../close-button.html', { 'attr': 'data-modal-close' })
	<div class="modal-form__container">
		<div class="modal-form__titlebox">
			<div class="modal-form__title">Подпишитесь на&nbsp;обновления</div>
			<p class="modal-form__desc">Узнавайте первыми о новостях МКФ BURNY. Обещаем писать только по&nbsp;делу. Отписаться от рассылки можно в любое время.</p>
		</div>
		<form class="modal-form__form" action="" method="post">
			<div class="modal-form__form-data">
				@@include('../form-input.html', { 'inputId': 'subscribe-mail', 'label': 'E-mail', 'type': 'email', 'placeholder': 'Ваш E-mail', 'required': 'true' }) 
			</div>
			<div class="modal-form__form-submit">
				<div class="modal-form__form-agreement">
					<div class="modal-form__form-agreement-checkbox checkbox">
						<input type="checkbox" id="subscribe-agreement" required />
					</div>
					<label class="modal-form__form-agreement-label" for="subscribe-agreement"
						>Согласен
						<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">с&nbsp;обработкой данных</span>
						<span class="modal-form__form-agreement-label-button" data-modal="privacy" role="button">и&nbsp;политикой конфиденциальности</span>
					</label>
				</div>
				<button class="modal-form__form-button" type="submit">
					<span>Подписаться</span>
					<div class="modal-form__form-button--icon-container">
						<div class="modal-form__form-button--icon-wrapper">
							<i class="modal-form__form-button--icon icon-arrow"></i>
						</div>
					</div>
				</button>
			</div>
		</form>
	</div>
</dialog>
