<dialog id="modal-office-21" class="modal-booking hide-scrollbar">
    @@include('../close-button.html', { 'attr': 'data-modal-close' })
	<div class="modal-booking__container">
		<div class="modal-booking__content">
			<div class="modal-booking__title">Офис №21</div>
			<div class="modal-booking__target">
				<p class="modal-booking__target-title">Назначение:</p>
				<ul class="modal-booking__target-list">
					<li class="modal-booking__target-item">БАНКЕТ</li>
					<li class="modal-booking__target-item">КОРПОРАТИВ</li>
				</ul>
			</div>
			<p class="modal-booking__desc">Светлый и просторный зал располагается на 2-м этаже с&nbsp;окнами, выходящими на берег японского моря. Доступен многоуровневый паркинг на 304 машиноместа, соединенный с бизнес-центром и крытым панорамным переходом.</p>
			<div class="modal-booking__params">
				<ul class="modal-booking__params-item">
					<li class="modal-booking__params-name">ЭТАЖ</li>
					<li class="modal-booking__params-value">7</li>
				</ul>
				<ul class="modal-booking__params-item">
					<li class="modal-booking__params-name">ПЛОЩАДЬ, М²</li>
					<li class="modal-booking__params-value">343.8</li>
				</ul>
				<ul class="modal-booking__params-item">
					<li class="modal-booking__params-name">ВЫСОТА ПОТОЛКА, М</li>
					<li class="modal-booking__params-value">3.5</li>
				</ul>
				<ul class="modal-booking__params-item">
					<li class="modal-booking__params-name">ПОМЕЩЕНИЙ</li>
					<li class="modal-booking__params-value">4</li>
				</ul>
			</div>
			<picture class="modal-booking__plan-container">
				<img class="modal-booking__plan" src="./assets/img/service/floor-diagrams/b1-f2-p6.png" alt="Схема помещения" />
			</picture>
		</div>
		<div class="modal-booking__info">
			<div class="modal-booking__info-titlebox">
				<div class="modal-booking__tag">ТАРИФ БАЗОВЫЙ</div>
				<div class="modal-booking__price">от 9 990 ₽<span class="modal-booking__price-unit">/день</span></div>
			</div>
			<ul class="modal-booking__rate">
				<li class="modal-booking__rate-item">
					<span>Максимум 1 пользователь</span>
					<a class="modal-booking__rate-item-icon" href="#">i</a>
				</li>
				<li class="modal-booking__rate-item">
					<span>Поддержка 1 сайта</span>
					<a class="modal-booking__rate-item-icon" href="#">i</a>
				</li>
				<li class="modal-booking__rate-item">
					<span>Надежная защита</span>
					<a class="modal-booking__rate-item-icon" href="#">i</a>
				</li>
				<li class="modal-booking__rate-item">
					<span>50 CMS-элементов на сайте</span>
					<a class="modal-booking__rate-item-icon" href="#">i</a>
				</li>
			</ul>
			<button class="modal-booking__button" data-modal="room-booking">
				<span>Забронировать</span>
				<div class="modal-booking__button--icon-container">
					<div class="modal-booking__button--icon-wrapper">
						<i class="modal-booking__button--icon icon-arrow"></i>
					</div>
				</div>
			</button>
		</div>
	</div>
</dialog>
