<div id="menu" class="menu" role="dialog" aria-hidden="true">
	<div class="menu__sider">
		<div class="menu__sider-label">Выбор раздела</div>
		<div class="menu__sider-icon-container">
			<div class="menu__sider-icon"></div>
		</div>
	</div>
	<div class="menu__container hide-scrollbar">
		<ul class="menu__body" role="navigation">
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">BURNY</div>
					<ul class="menu__item-tagsbox">
						<li class="menu__item-tag">Галерея</li>
					</ul>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="offices.html">
					<div class="menu__item-title">Аренда офисов</div>
					<ul class="menu__item-tagsbox">
						<li class="menu__item-tag">Выбор офиса</li>
					</ul>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Конференц-залы</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Апарт-отель</div>
					<ul class="menu__item-tagsbox">
						<li class="menu__item-tag">Выбор Апартаментов</li>
						<li class="menu__item-tag">СЕРВИСЫ</li>
					</ul>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="restaurants.html">
					<div class="menu__item-title">Рестораны</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Вертолётная площадка</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Паркинг</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container soon liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Фитнес-центр</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container soon liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Клуб здоровья и&nbsp;долголетия</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
			<li class="menu__item-container soon liquid-item">
				@@include('../liquid-fill.html')
				<a class="menu__item" href="#">
					<div class="menu__item-title">Торговая галерея</div>
					<div class="menu__item-button">
						<div class="menu__item-button--icon-wrapper">
							<i class="menu__item-button--icon icon-arrow"></i>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
