@use "../utils/abstracts" as *;

.conference-about {
	@include block-padding();
	&__container {
		display: grid;
		grid-template-columns: auto 70%;
		margin-left: 15vw;
	}
	&__anim-container {
		position: relative;
		height: 100%;
	}
	&__anim {
		position: sticky;
		top: rem(64);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(290) rem(0);
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-value {
			color: $c-FFFFFF;
			font-size: lineScale(32, 18, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&--number {
				font-size: lineScale(128, 32, 480, 1440);
			}
		}
		&-desc {
			font-size: lineScale(24, 14, 480, 1440);
			line-height: 120%;
		}
	}
}
.conference-advant {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__title {
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__body {
		margin-top: rem(128);
	}
}
.conference-news {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		font-size: lineScale(28, 14, 480, 1440);
		@include icon-hover(diagonal-reverse, lineScale(20, 12, 480, 1440));
		&--icon-wrapper {
			padding: {
				top: rem(12);
				right: rem(12);
			}
		}
	}
}
.conference-plan {
	.building-plan {
		min-width: 1440px;
		left: 50%;
		translate: -50% 0;
	}
}
@media (max-width: 1024px) {
	.conference-plan {
		display: none;
	}
	.conference-about {
		&__container {
			display: block;
		}
		&__anim-container {
			display: none;
		}
		&__content {
			gap: rem(64);
		}
	}
}
