@use "../utils/abstracts" as *;

.hotel-about {
	@include block-padding();
	&__container {
		display: grid;
		grid-template-columns: auto 70%;
		margin-left: 15vw;
	}
	&__anim-container {
		position: relative;
		height: 100%;
	}
	&__anim {
		position: sticky;
		top: rem(64);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(290) rem(0);
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-value {
			color: $c-FFFFFF;
			font-size: lineScale(32, 18, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&--number {
				font-size: lineScale(128, 32, 480, 1440);
			}
		}
		&-desc {
			font-size: lineScale(24, 14, 480, 1440);
			line-height: 120%;
		}
	}
}
.hotel-advant {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__title {
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__body {
		margin-top: rem(128);
	}
}
.hotel-gallery {
	position: relative;
	overflow-x: clip;
	@include block-padding();
}
.hotel-select {
	position: relative;
    padding-bottom: rem(64);
	&::before {
		content: "";
		position: absolute;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background: linear-gradient(to top, rgba($main-color, 1) 60%, rgba($main-color, 0) 100%);
		pointer-events: none;
	}
	&__container {
		position: relative;
	}
	&__body {
		position: absolute;
		bottom: 0;
		left: 50%;
		translate: -50% 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(16);
	}
	&__button {
		display: flex;
		justify-content: center;
		gap: rem(16);
        text-wrap: nowrap;
		color: $c-FFFFFF;
		font-size: lineScale(28, 18, 480, 1440);
		line-height: 1;
		border: rem(2) solid $c-C6A47D;
		padding: rem(16) rem(48);
		@include icon-hover(diagonal-reverse, rem(20));
		@media (pointer: fine) {
			@include flowing-fill($anim-color: $c-C6A47D);
			&:hover {
				color: $main-color;
			}
		}
		&--icon {
			padding: {
				top: rem(12);
				right: rem(12);
			}
		}
	}
}
@media (max-width: 1024px){
    .hotel-about {
        &__container {
            display: block;
        }
        &__anim-container {
            display: none;
        }
        &__content {
            gap: rem(64);
        }
    }
}