@use "../utils/abstracts" as *;

.index-hero {
	min-height: 100lvh;
	overflow: clip;
	&__background {
		position: absolute;
		z-index: -1;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		filter: brightness(40%);
		&-image-container {
			width: 100%;
			height: 100lvh;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-thumbs {
			max-height: rem(320);
			position: absolute;
			z-index: 1;
			top: 50%;
			right: rem(32);
			translate: 0 -50%;
			overflow: visible;
			overflow-y: clip;
			&-wrapper {
				padding: rem(16) 0;
			}
			&-item {
				cursor: pointer;
				width: rem(94);
				height: rem(54);
				opacity: 0.5;
				transition: opacity $duration;
				&.swiper-slide-thumb-active {
					position: relative;
					opacity: 1;
					&::after {
						content: "";
						position: absolute;
						inset: -0.875rem;
						width: calc(100% + 1.75rem);
						height: calc(100% + 1.75rem);
						background: url("/assets/img/service/border.png") no-repeat center / contain;
						pointer-events: none;
						transition: all $duration;
					}
				}
			}
			&-image-container {
				width: rem(94);
				height: rem(54);
				overflow: hidden;
				transition: all $duration;
			}
			&-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__container {
		padding: rem(96) 0;
		min-height: 100lvh;
		@include flex-center();
		@include content-width();
	}
	&__titlebox {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: rem(96);
		color: $c-FFFFFF;
	}
	&__title {
		grid-column: span 2;
		text-transform: uppercase;
		font-size: lineScale(96, 40, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__subtitle {
		grid-row: 2;
		position: relative;
		text-transform: lowercase;
		font-size: lineScale(22, 18, 480, 1440);
		line-height: 150%;
		padding-left: rem(32);
		&::before {
			content: "—";
			position: absolute;
			top: 0;
			left: 0;
		}
		&--accent {
			display: inline-block;
			border-bottom: rem(2) dotted $c-FFFFFF;
		}
	}
	&__button-container {
		grid-column: 2;
		width: fit-content;
	}
}
.index-about {
	padding: rem(128) 0;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(64);
	}
	&__title {
		grid-column: span 2;
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__subtitle {
		grid-column: 2;
		position: relative;
		font-size: lineScale(24, 16, 480, 1440);
		line-height: 120%;
		padding-top: rem(64);
		opacity: 0.8;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: rem(128);
			height: rem(2);
			background-color: $c-C6A47D;
		}
	}
	&__metrics {
		display: flex;
		flex-direction: column;
		gap: rem(64);
		&-item {
			display: flex;
			flex-direction: column;
			gap: rem(32);
			&:nth-child(3n + 1) {
				align-self: flex-start;
			}
			&:nth-child(3n + 2) {
				align-self: center;
			}
			&:nth-child(3n + 3) {
				align-self: flex-end;
			}
		}
		&-value {
			color: $c-FFFFFF;
			font-size: lineScale(32, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&-number {
				font-size: lineScale(96, 40, 480, 1440);
				line-height: 1;
			}
		}
		&-text {
			max-width: 35ch;
			display: block;
			position: relative;
			font-size: lineScale(24, 18, 480, 1440);
			padding-left: rem(64);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: rem(2);
				background-color: $c-C6A47D;
			}
		}
	}
}
.index-demo {
	padding: rem(128) 0;
	&__container {
		max-width: 1920px;
		margin: 0 auto;
		position: relative;
	}
	&__building {
		position: relative;
		width: 100%;
		min-width: rem(1600);
		height: rem(900);
		&-model {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: transform calc($duration / 2), scale $duration, translate $duration;
			&.active {
				scale: 0.85;
				translate: -10% 0;
			}
		}
		&-image-container {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-cloud-container {
			position: absolute;
			z-index: 1;
			top: 10%;
			left: 50%;
			translate: -50% 0;
			scale: 1.25;
			transition: all $duration;
			.active & {
				scale: 1.5;
				translate: -40% 0;
			}
		}
		&-cloud {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-point {
			cursor: pointer;
			box-sizing: content-box;
			position: absolute;
			z-index: 1;
			width: rem(20);
			height: rem(20);
			aspect-ratio: 1/1;
			background: $c-C6A47D;
			outline: rem(6) solid rgba($c-FFFFFF, 1);
			border-radius: 50%;
			transform: translate(-50%, -50%);
			will-change: scale;
			transition: all $duration $spring;
			&.active,
			&:hover {
				translate: 50% 50%;
				scale: 3;
				outline-color: rgba($c-FFFFFF, 0.3);
				> img {
					opacity: 1;
				}
			}
			&-image {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
				overflow: hidden;
				opacity: 0;
				transition: all $duration $spring;
			}
		}
	}
	&__info-panel {
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		max-width: rem(465);
		max-height: rem(600);
		border: rem(2) solid $c-C6A47D;
		backdrop-filter: blur(10px);
		translate: 0 -50%;
		padding: rem(64);
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		transition: all $duration $spring;
		&.active {
			right: 5%;
			opacity: 1;
			pointer-events: auto;
		}
		&-close-btn {
			cursor: pointer;
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
		&-title {
			color: $c-FFFFFF;
			font-size: lineScale(40, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
		}
		&-text {
			color: $c-FFFFFF;
			font-size: lineScale(18, 16, 480, 1440);
			line-height: 150%;
			margin-top: rem(32);
		}
		&-image-container {
			width: 100%;
			height: rem(160);
			margin-top: rem(52);
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.index-services {
	padding: rem(128) 0;
	&__titlebox {
		@include content-width();
	}
	&__title {
		position: relative;
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		padding-bottom: rem(64);
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: rem(128);
			height: rem(2);
			background-color: $c-C6A47D;
		}
	}
	&__body {
		position: relative;
		margin-top: rem(128);
	}
	&__slider {
		counter-reset: item;
		&-pagination {
			width: fit-content !important;
			height: fit-content !important;
			top: 50% !important;
			left: auto !important;
			right: rem(32) !important;
			translate: 0 -50%;
			display: flex;
			flex-direction: column;
			gap: rem(24);
			& .swiper-pagination-bullet {
				position: relative;
				width: rem(24);
				height: rem(4);
				border-radius: 0;
				margin: 0 !important;
				background-color: $c-C6A47D;
				transition: height $duration $spring;
				@media (pointer: fine) {
					&:hover {
						> span {
							translate: 0 -50%;
							opacity: 1;
						}
					}
				}
				> span {
					position: absolute;
					top: 50%;
					right: rem(32);
					width: max-content;
					text-transform: uppercase;
					font-size: lineScale(14, 12, 480, 1440);
					line-height: 1;
					font-weight: $fw-bold;
					translate: 0 -100%;
					opacity: 0;
					transition: all $duration;
				}
				&-active {
					height: rem(6);
					> span {
						translate: 0 -50%;
						opacity: 1;
					}
				}
			}
		}
	}
	&__slide {
		counter-increment: item;
		position: relative;
		width: 100%;
		height: rem(920);
		&:nth-child(n + 10) {
			.index-services__slide-title::before {
				content: counter(item);
			}
		}
		&-image-container {
			position: absolute;
			z-index: -1;
			inset: 0;
			width: 100%;
			height: 100%;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(45%);
		}
		&-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-content: center;
			gap: rem(16);
			width: 100%;
			height: 100%;
			@include content-width();
		}
		&-title {
			grid-column: span 2;
			position: relative;
			text-transform: uppercase;
			color: $c-FFFFFF;
			font-size: lineScale(96, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			padding-top: rem(64);
			&::before {
				content: "0" counter(item);
				position: absolute;
				top: 0;
				left: 0;
				font-size: lineScale(18, 14, 480, 1440);
				line-height: 1;
				font-weight: $fw-bold;
			}
		}
		&-desc {
			color: $c-C2C0C1;
			font-size: lineScale(18, 14, 480, 1440);
			max-width: 40ch;
		}
	}
}
.index-footnote {
	padding: rem(128) 0;
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(16);
		text-align: center;
		padding: {
			top: rem(96);
			bottom: rem(96);
		}
		@include content-width();
		&::before,
		&::after{
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: rem(2);
			background-color: $c-C6A47D;
		}
		&::after {
			top: auto;
			bottom: 0;
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: lineScale(16,14,480,1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__desc {
		color: $c-FFFFFF;
		font-size: lineScale(40,18,480,1440);
		line-height: 120%;
		font-weight: $fw-bold;
	}
}