@use "../utils/abstracts" as *;

.offices-about {
	@include block-padding();
	&__container {
		display: grid;
		grid-template-columns: auto 70%;
		margin-left: 15vw;
	}
	&__anim-container {
		position: relative;
		height: 100%;
	}
	&__anim {
		position: sticky;
		top: rem(64);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(290) rem(0);
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		&-value {
			color: $c-FFFFFF;
			font-size: lineScale(32, 18, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&--number {
				font-size: lineScale(128, 32, 480, 1440);
			}
		}
		&-desc {
			font-size: lineScale(24, 14, 480, 1440);
			line-height: 120%;
		}
	}
}
.offices-advant {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__title {
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__body {
		margin-top: rem(128);
	}
}
.offices-gallery {
	position: relative;
	overflow-x: clip;
	@include block-padding();
}
.offices-plan {
	.building-plan {
		min-width: 1440px;
		left: 50%;
		translate: -50% 0;
		user-select: none;
	}
}
@media (max-width: 1024px) {
	.offices-plan {
		.building-plan {
			display: none;
		}
	}
	.offices-about {
		&__container {
			display: block;
		}
		&__anim-container {
			display: none;
		}
		&__content {
			gap: rem(64);
		}
	}
}
@media (min-width: 1024px) {
	.offices-plan__mobile {
		display: none;
	}
}
