@use "../utils/abstracts" as *;

.parking-advant {
	overflow-x: clip;
	@include block-padding();
	&__container {
		@include content-width();
	}
}
.parking-floor {
	display: none;
	&__container {
		@include content-width();
	}
}
.parking-rules {
	@include block-padding();
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(32);
	}
	&__title {
		max-width: 20ch;
		color: $c-FFFFFF;
		font-size: lineScale(64, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		&--accent {
			color: $c-C6A47D;
		}
	}
	&__button {
		cursor: pointer;
		text-transform: uppercase;
		font-size: lineScale(14, 12, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		padding: rem(6) rem(24);
		border: rem(1) solid $c-C6A47D;
		border-radius: rem(32);
		transition: color $duration;
		@include flowing-fill($anim-color: $c-C6A47D);
		@media (pointer: fine) {
			&:hover {
				color: $c-FFFFFF;
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: rem(128);
	}
	&__content {
		counter-reset: item;
		position: relative;
		max-width: 80ch;
		display: flex;
		flex-direction: column;
		gap: rem(96);
	}
	&__progressbar {
		position: absolute;
		top: 0;
		left: 12%;
		width: rem(3);
		height: 100%;
		background-color: rgba($c-C2C0C1, 0.1);
		&-inner {
			width: 100%;
			background-color: $c-C6A47D;
		}
	}
	&__item {
		counter-increment: item;
		counter-reset: desc-item;
		display: flex;
		align-items: flex-start;
		gap: rem(160);
		&::before {
			content: "0" counter(item);
			font-size: lineScale(18, 14, 480, 1440);
			line-height: 1;
			color: $c-FFFFFF;
			opacity: 0.25;
		}
		&-wrapper {
			display: flex;
			flex-direction: column;
			gap: rem(16);
		}
		&-title {
			color: $c-FFFFFF;
			font-size: lineScale(40, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			margin-bottom: rem(16);
		}
		&-desc {
			font-size: lineScale(24, 16, 480, 1440);
			line-height: 120%;
			&--accent {
				color: $c-FFFFFF;
			}
			&--numbered {
				counter-increment: desc-item;
				&::before {
					content: counter(desc-item) ". ";
				}
			}
		}
	}
}
.parking-frames {
	background: linear-gradient(0deg, rgba($main-color, 0.7) 0%, rgba($main-color, 0.9) 5%, rgba($main-color, 0.9) 50%, rgba($main-color, 0.9) 95%, rgba($main-color, 0.7) 100%);
	@include block-padding();
	&__container {
		position: relative;
	}
	&__anim {
		width: 80%;
	}
	&__body {
		position: absolute;
		top: 50%;
		right: 5%;
		translate: 0 -50%;
		max-width: rem(465);
		border: rem(2) solid $c-C6A47D;
		backdrop-filter: blur(10px);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(32);
		color: $c-FFFFFF;
		padding: rem(64);
	}
	&__title {
		font-size: lineScale(30, 18, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		font-size: lineScale(18, 14, 480, 1440);
		line-height: 120%;
		&-item {
			list-style: disc outside;
			margin-left: rem(24);
			&--title {
				&--link {
					text-decoration: underline;
				}
			}
		}
	}
	&__button {
		cursor: pointer;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);
		color: $c-FFFFFF;
		font-size: lineScale(24, 16, 480, 1440);
		line-height: 1;
		padding: rem(18) 0;
		background-color: $c-C6A47D;
		@include flowing-fill();
		@include icon-hover(diagonal-reverse);
		@media (pointer: fine) {
			&:hover {
				color: $main-color;
			}
		}
	}
}
@media (max-width: 1024px) {
	.parking-frames {
		&__anim {
			width: 100%;
		}
		&__body {
			box-sizing: border-box;
			position: static;
			max-width: 100%;
			margin: 0 rem(64);
		}
	}
}
@media (max-width: 768px) {
    .parking-rules {
        &__item {
            gap: rem(48);
        }
        &__progressbar {
            left: rem(32);
        }
    }
	.parking-frames {
		&__body {
			translate: 0 0;
			margin: 0 rem(16) 0 rem(64);
		}
		&__content {
			padding: rem(64) rem(16);
		}
	}
}
