@use "../utils/abstracts" as *;

.soon-list {
    .fullscreen-slider__slide-image-container {
        filter: saturate(0%) brightness(30%);
    }
    .fullscreen-slider__slide-button-container {
        cursor: pointer;
        .button {
            pointer-events: none;
            color: $c-FFFFFF;
            border-color: $c-FFFFFF;
            opacity: 0.8;
        }
    }
}