<section class="booking-hero">
	<div class="booking-hero__container">
		<h1 class="booking-hero__title" data-parallax>@@title</h1>
		<a class="booking-hero__media-container" href="@@videopath" data-fancybox="@@liteboxId">
			<video class="booking-hero__video" muted autoplay playsinline loop>
				<source src="@@videopath" type="video/mp4" />
			</video>
		</a>
		<div class="booking-hero__button">@@include('../components/button.html', { "title": "@@button-title", "text": "@@button-text", "href": "@@scroll-into" })</div>
		<h2 class="booking-hero__subtitle" data-parallax data-start="100">@@subtitle</h2>
	</div>
</section>
