<section class="booking-hero">
	<div class="booking-hero__container">
		<h1 class="booking-hero__title" data-parallax>@@title</h1>
		<a class="booking-hero__media-container" href="@@imagepath" data-fancybox="@@liteboxId">
			<picture class="booking-hero__image-container">
				<img class="booking-hero__image" src="@@imagepath" alt="#" />
			</picture>
		</a>
		<div class="booking-hero__button">@@include('../components/button.html', { "title": "@@button-title", "text": "@@button-text", "href": "@@scroll-into" })</div>
		<h2 class="booking-hero__subtitle" data-parallax data-start="100">@@subtitle</h2>
	</div>
</section>
