<section class="booking-hero">
	<div class="booking-hero__container">
		<h1 class="booking-hero__title" data-parallax data-start="0">@@title</h1>
		<div class="booking-hero__media-container" data-modal="@@liteboxId">
			<video class="booking-hero__video" muted autoplay playsinline loop>
				<source src="@@videopath" type="video/mp4" />
			</video>
		</div>
		<div class="booking-hero__button">@@include('../components/button.html', { "title": "@@button-title", "text": "@@button-text", "href": "@@scroll-into" })</div>
		<h2 class="booking-hero__subtitle">@@subtitle</h2>
	</div>
</section>
