<div id="burger" class="burger" data-menu-open role="button">
    <div class="burger__container">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
    </div>
</div>