<div class="language ">
	<div class="language__current ">
		<div class="language__current--icon-wrapper">
			<i class="language__current--icon icon-check-mark"></i>
		</div>
		<span class="language__current--text"></span>
	</div>
	<ul class="language__list ">
		<li class="language__list-item" data-lang="ru">ru</li>
		<li class="language__list-item" data-lang="en">en</li>
		<li class="language__list-item" data-lang="fr">fr</li>
		<li class="language__list-item" data-lang="jp">jp</li>
	</ul>
</div>
