<ul class="location" data-parallax>
	<li class="location__item location__item--time">
		<div class="location__item-title">Местное время</div>
		<div class="location__item--time-container" data-timezone="Asia/Vladivostok" aria-label="Текущее время во Владивостоке">
			<span class="location__item--time-value">-- : -- : --</span>
		</div>
	</li>
	<li class="location__item location__item--cords">
		<div class="location__item--cords-item">43° 4' 7" N</div>
		<div class="location__item--cords-separator icon-star-separator"></div>
		<span class="location__item--cords-item">131° 53' 9" E</span>
	</li>
	<li class="location__item location__item--address">
		<a class="location__item-title" href="contacts.html">Связаться с нами <i class="location__item-title--icon icon-triangle"></i></a>
		<div class="location__item--address-item">Россия, г.&nbsp;Владивосток, ул.&nbsp;Набережная, д.13</div>
	</li>
</ul>
