<section class="map">
	<div id="map" class="map__container"></div>
	<div class="map__info">
		<div class="map__info-content">
			<ul class="map__info-item">
				<li class="map__info-item-title">Транспортная доступность <i class="map__info-item-title--icon icon-check-mark"></i></li>
				<li class="map__info-item-content">
					<div class="map__info-item-point">
						<div class="map__info-item-point-title">Личный транспорт</div>
						<p class="map__info-item-point-text">Cледуйте по главной дороге, пока не увидите указатели на&nbsp;центр города. Через 5 км сверните налево и&nbsp;двигайтесь до конца улицы, где расположено здание.</p>
					</div>
					<div class="map__info-item-point">
						<div class="map__info-item-point-title">Общественный транспорт</div>
						<p class="map__info-item-point-text">Маршрутки 5 и 12, до конечной остановки "Центральный рынок". Оттуда вам останется пройти всего несколько минут пешком.</p>
					</div>
				</li>
			</ul>
			<ul class="map__info-item">
				<li class="map__info-item-title">Места рядом <i class="map__info-item-title--icon icon-check-mark"></i></li>
				<li class="map__info-item-content">
					<div class="map__info-item-point">
						<div class="map__info-item-point-title">Рестораны И кафе</div>
						<p class="map__info-item-point-text">Вкусный уголок, Кулинарный рай, Солнечный обед, Морская звезда.</p>
					</div>
					<div class="map__info-item-point">
						<div class="map__info-item-point-title">Достопримечательности</div>
						<p class="map__info-item-point-text">Мыс Бурный, Птичий остров, Золотой мост, Приморский океанариум, Смотровая площадка на сопке Орлиное гнездо.</p>
					</div>
				</li>
			</ul>
		</div>
		<a class="map__info-button" href="#">
			Построить маршрут
			<div class="map__info-button--icon-container">
				<div class="map__info-button--icon-wrapper">
					<i class="map__info-button--icon icon-arrow"></i>
				</div>
			</div>
		</a>
	</div>
</section>
