<section class="service-hero">
	<picture class="service-hero__background">
		<img class="service-hero__background-image" src="@@image-path" alt="@@title" />
	</picture>
	<div class="service-hero__container">
		<div class="service-hero__titlebox">
			<div class="service-hero__tag">@@tag</div>
			<h1 class="service-hero__title">@@title</h1>
			<p class="service-hero__desc">@@desc</p>
			<button class="service-hero__button" @@attr>
				<span>@@button-text</span>
				<div class="service-hero__button--icon-container">
					<div class="service-hero__button--icon-wrapper">
						<i class="service-hero__button--icon icon-arrow"></i>
					</div>
				</div>
			</button>
			<a class="service-hero__link" href="@@href" data-hover-anim>
				<span>@@link-text</span>
				<div class="service-hero__link--icon-container">
					<div class="service-hero__link--icon-wrapper">
						<i class="service-hero__link--icon icon-arrow"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
