@use "../../utils/abstracts" as *;

.modal-select {
	position: fixed;
	inset: 0;
	z-index: 5;
	width: 100vw;
	height: 100lvh;
	background-color: $main-color;
	overflow: hidden;
	translate: 0 100%;
	pointer-events: none;
	transition: translate $duration;
	&.open {
		translate: 0 0;
		pointer-events: auto;
	}
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		padding: rem(64) 0;
	}
	&__toolbar {
		position: absolute;
		z-index: 3;
		top: 20%;
		left: rem(24);
		display: flex;
		flex-direction: column;
		gap: rem(128);
		pointer-events: none;
		&-buttonbox {
			display: flex;
			align-items: center;
			gap: rem(32);
		}
		&-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: rem(8);
			text-transform: uppercase;
			color: $c-FFFFFF;
			font-size: rem(14);
			line-height: 1;
			border: rem(1) solid $c-C6A47D;
			border-radius: rem(32);
			padding: rem(4) rem(18);
			pointer-events: all;
			@media (pointer: fine) {
				@include flowing-fill($anim-color: $c-C6A47D);
				&:hover {
					color: $main-color;
				}
			}
			&-icon {
				font-size: rem(12);
			}
			&--close {
				&-icon {
					rotate: -135deg;
				}
			}
			&--link {
				&-icon {
					rotate: 45deg;
				}
			}
		}
		&-nav {
			width: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(48);
			pointer-events: none;
		}
		&-navbutton {
			position: static;
			margin: 0;
			color: $c-C6A47D;
			font-size: rem(32);
			pointer-events: all;
			&::after {
				display: none;
			}
			&--prev {
				i {
					rotate: -45deg;
				}
			}
			&--next {
				i {
					rotate: 135deg;
				}
			}
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
				}
			}
		}
		&-current {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: rem(16);
			color: $c-FFFFFF;
			&-number {
				font-size: lineScale(40, 24, 480, 1440);
				line-height: 1;
				font-weight: $fw-bold;
			}
			&-desc {
				text-transform: uppercase;
				font-size: lineScale(18, 14, 480, 1440);
				line-height: 1;
			}
		}
	}
	&__slider {
		width: 100vw;
		height: calc(100lvh - rem(32) * 2);
		overflow-y: hidden;
		overflow-x: visible;
	}
	&__slide {
		position: relative;
		background-color: $main-color;
		@include flex-center();
		&[data-office-floor="2"] {
			.modal-select__plan-hint--in {
				top: 30%;
				right: 0;
			}
			.modal-select__plan-hint--out {
				bottom: 10%;
				left: 20%;
				.modal-select__plan-hint-marker {
					rotate: -90deg;
				}
			}
			.modal-select__city-container {
				top: auto;
				right: auto;
				bottom: -20%;
				left: 0;
				transform: scaleX(-1);
			}
			.modal-select__ocean-container {
				bottom: auto;
				left: auto;
				top: -20%;
				right: 0;
				transform: scaleX(-1);
			}
		}
	}
	&__city-container,
	&__ocean-container {
		position: absolute;
		z-index: -1;
		width: 60vw;
		user-select: none;
		pointer-events: none;
	}
	&__city-container {
		top: -20%;
		right: 0;
	}
	&__ocean-container {
		bottom: 0;
		left: -10%;
	}
	&__city,
	&__ocean {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__plan {
		position: relative;
		&-body {
			position: relative;
			width: 100%;
			height: 100%;
		}
		&-image-container {
			width: 45vw;
			height: 45vw;
			max-width: rem(750);
			max-height: rem(750);
			min-width: rem(530);
			min-height: rem(530);
			user-select: none;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&-overlay {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			> svg {
				width: 100%;
				height: 100%;
			}
		}
		&-marker {
			cursor: pointer;
			fill: rgba($c-FFFFFF, 0.3);
			stroke: none;
			pointer-events: all;
			&.active {
				fill: rgba($c-C6A47D, 0.8);
			}
			@media (pointer: fine) {
				&:hover {
					fill: rgba($c-C6A47D, 0.8);
				}
			}
		}
		&-tooltip {
			position: absolute;
			z-index: 2;
			top: 50%;
			translate: -100% -50%;
			color: $c-FFFFFF;
			line-height: 1;
			background-color: $c-C6A47D;
			padding: rem(6) rem(12);
			opacity: 0;
			transition: all $duration;
			@include flex-center();
			&::before,
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 50%;
				translate: 0 -50%;
				background-color: inherit;
			}
			&::before {
				right: 0;
				width: rem(120);
				height: rem(1);
			}
			&::after {
				right: rem(120);
				width: rem(4);
				height: rem(4);
				border-radius: 50%;
			}
			&.show {
				opacity: 1;
			}
		}
		&-hint {
			position: absolute;
			display: flex;
			align-items: center;
			gap: rem(8);
			font-size: lineScale(14, 12, 480, 1440);
			pointer-events: none;
			&-marker {
				position: relative;
				width: rem(8);
				height: rem(8);
				aspect-ratio: 1/1;
				background-color: $c-C6A47D;
				border-radius: 50%;
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: rem(6);
					height: rem(1);
					background-color: inherit;
				}
				&::before {
					top: -0.3rem;
					left: 0.125rem;
					rotate: -25deg;
				}
				&::after {
					top: -0.225rem;
					right: -0.225rem;
					rotate: 65deg;
				}
			}
			&--in {
				&#modal-select-plan-hint-3 {
					bottom: 10%;
					left: 20%;
					.modal-select__plan-hint-marker {
						rotate: 220deg;
					}
				}
				&#modal-select-plan-hint-7 {
					top: 50%;
					left: 0;
					.modal-select__plan-hint-marker {
						rotate: 220deg;
					}
				}
			}
			&--out {
				&#modal-select-plan-hint-3 {
					top: 40%;
					right: 35%;
				}
				&#modal-select-plan-hint-7 {
					top: 30%;
					right: -20%;
				}
			}
		}
		&-info {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			gap: rem(16);
			padding: rem(32);
			translate: 0 -50%;
			opacity: 0;
			border: rem(2) solid rgba($c-7E9CC0, 0.25);
			background-color: $main-color;
			transition: all $duration $spring 0.15s;
			&.show {
				translate: 0 0;
				opacity: 1;
			}
			&-item {
				text-wrap: nowrap;
				color: $c-FFFFFF;
				&-label {
					text-transform: uppercase;
					font-size: lineScale(14, 12, 480, 1440);
				}
				&-number {
					font-size: lineScale(24, 18, 480, 1440);
					font-weight: $fw-bold;
				}
			}
		}
	}

	&__overview {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		width: rem(380);
		height: rem(216);
		pointer-events: none;
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			height: 100%;
			width: rem(180);
			background: linear-gradient(to right, rgba($main-color, 1), rgba($main-color, 0));
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			user-select: none;
		}
		&-overlay {
			position: absolute;
			inset: 0;
		}
		&-marker {
			fill: rgba($c-C6A47D, 0.6);
		}
	}
}
